<%= error_messages_for(@user) %>

<table summary="User form fields">
  <tr>
    <th><%= f.label(:firstname) %></th>
    <td><%= f.text_field(:firstname) %></td>
  </tr>
  <tr>
    <th><%= f.label(:lastname) %></th>
    <td><%= f.text_field(:lastname) %></td>
  </tr>
  <tr>
    <th><%= f.label(:email) %></th>
    <td><%= f.text_field(:email) %></td>
  </tr>
  <tr>
    <th><%= f.label(:level) %></th>
    <td><%= f.text_field(:level) %></td>
  </tr>
  <tr>
    <th><%= f.label(:username) %></th>
    <td><%= f.text_field(:username) %></td>
  </tr>
  <tr>
    <th><%= f.label(:password) %></th>
    <td><%= f.password_field(:password) %></td>
  </tr>
</table>
