<%= form_for(@mediafile) do |f| %>
  <% if @mediafile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mediafile.errors.count, "error") %> prohibited this mediafile from being saved:</h2>

      <ul>
      <% @mediafile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="field">
    <b>Filename:</b>
    <%= @mediafile.filename %>
  </div>
  <div class="field">
     <%= f.label(:media_id, "User") %>
        <div class="input">
           <td><%= f.select(:medium, @search.movies.collect {|m| [m.title, m.id]}) %></td>
        </div>
  </div>


  <div class="actions">
    <%= f.submit "Tag"%>
  </div>
<% end %>
