<h1>Listing mediafiles</h1>

<table>
  <tr>
    <th>Filename</th>
    <th>Relativepath</th>
    <th>remoteID</th>
     <th>userID</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mediafiles.each do |mediafile| %>
  <tr>
    <td><%= mediafile.filename %></td>
    <td><%= mediafile.relativepath %></td>
    <td><%= mediafile.remote_id %></td>
    <td><%= mediafile.user_id %></td>
    <td><%= link_to 'Show', mediafile %></td>
    <td><%= link_to 'Edit', edit_mediafile_path(mediafile) %></td>
    <td><%= link_to 'Destroy', mediafile, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mediafile', new_mediafile_path %>
