<h1>Media files that need tagging</h1>

<table>
  <tr>
    <th>Filename</th>
    <th>Relativepath</th>
    <th>remoteID</th>
    <th>userID</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @mediafiles.each do |mediafile| %>
      <tr>
        <td><%= mediafile.filename %></td>
        <td><%= mediafile.relativepath %></td>
        <td><%= mediafile.remote_id %></td>
        <td><%= mediafile.user_id %></td>
        <td><%= link_to 'Tag', edit_mediafile_path(mediafile) %></td>
      </tr>
  <% end %>
</table>

<br />

<%= link_to 'New Mediafile', new_mediafile_path %>
