<h3>All Media</h3>
<div class="span16">
  <table class="table table-condensed">
    <thead>
    <tr>
      <th>Title</th>
      <th>Type</th>
      <th>Genre</th>
      <th>Owner</th>
      <th>Imdb ID</th>
    </tr>
    </thead>
    <tbody>
    <% @media.each do |medium| %>
        <tr>
          <td><%= link_to medium.title, medium %></td>
          <td><%= medium.type %></td>
          <td><%= medium.genre %></td>
          <%     @owner="Me"
                 if (medium.mediafiles.count == 1 && medium.mediafiles.first.user_id != current_user.id)
                   @owner = medium.mediafiles.first.user.fullname
                 elsif (medium.mediafiles.count > 1)
                   if (medium.mediafiles.map{|m| m.user_id}.include? current_user.id)
                     @owner = "Me and others"
                   else
                     @owner = "Others"
                   end
                 end
          %>
          <td><%= @owner %></td>
          <td><%= medium.imdb_id %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

