<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @medium.title %>
</p>

<p>
  <b>Type:</b>
  <%= @medium.type %>
</p>

<p>
  <b>Genre:</b>
  <%= @medium.genre %>
</p>

<p>
  <b>Imdb:</b>
  <%= @medium.imdb_id %>
</p>

<br>
<h4>Linked Media Files </h4>

<% @medium.mediafiles.each do |mediafile|  %>
  <%= link_to mediafile.filename, mediafile  %> <br>
<% end %>
<br>

<%= link_to 'Edit', edit_medium_path(@medium) %> |
<%= link_to 'Back', media_path %>
