<%= link_to "MediaShare", root_path, :class => 'brand' %>
<ul class="nav" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <% if user_signed_in? %>
      <li>
        <%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>
      </li>
  <% else %>
      <li>
        <%= link_to('Login', new_user_session_path)  %>
      </li>
  <% end %>
  <% if user_signed_in? %>
      <li class="dropdown">
        <% if (current_user.has_role? :admin) %>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Media</a>
        <% else %>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" >My Media</a>
        <% end %>
        <ul class="dropdown-menu">
          <li>
            <%= link_to('Files', '/mediafiles')  %>
          </li>
          <li>
            <%= link_to('Movies', '/media')  %>
          </li>
          <li>
            <%= link_to('Analyse Files', '/analyser/analyse')  %>
          </li>
        </ul>
      </li>
      <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" >All Media</a>
          <ul class="dropdown-menu">
          <li>
            <%= link_to('Movies', '/media/allmedia')  %>
          </li>
        </ul>
      </li>
      <% if (current_user.has_role? :admin) %>
          <li>
            <%= link_to('Users', users_url) %>
          </li>
          <li>
            <%= link_to('Sidekiq', "/sidekiq") %>
          </li>
      <% end %>

      <li>
        <%= link_to('Logged in: ' + current_user.fullname, edit_user_registration_path)    %>
      </li>
  <% else %>
      <li>
        <%= link_to('Sign up', new_user_registration_path)  %>
      </li>
  <% end %>
</ul>